$bg-nav:linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
$bg-section2:linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
$bg-carrousel:linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$general-font: 'Fredericka the Great', cursive;
$border-r: 0.5rem;
$f-size: 16px;
$block-size-mob: 28rem;

