.header404 {
    font-size: 1.2rem;
    background-color: rgb(235, 232, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-weight: 650;

    p {
        display: flex;
        padding-left: 0.1rem;
    }
    a{
        display: flex;
        padding-left: 0.1rem;
        text-decoration: none;
        color: black;
    }
}

h1 {
    font-size: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
   padding-left: 3rem;
   color: grayscale($color: #807b7b);
}
a {
    text-decoration: none;
    color: grayscale($color: #1a1919);

}