.footer {
    font-size: 0.8rem;
    background-color: rgb(235, 232, 229);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1rem;

    p {
        display: flex;
        padding-left: 0.1rem;
        font-weight: 400;
        font-size: 0.8rem;
        padding-top: 1.2rem;
    }
}