.barraIcono {
    padding: 0 0.3rem 0 0;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 2; 
    cursor: pointer;
}

.img-social {
    width:3rem;
    filter: grayscale(1);
    
    &:hover{
        filter: none;
    }
}

.ulBarra {
    display: block;
    list-style-type: none;
    flex-direction: row;
    transition: all 1s ease-in;

    li {
        &:hover {
            transform: translateX(-3.5px);
        }
    }
}