@import "../variables/variables";
.sectionLogo {
    background-image: url("../images/espejo.jpg");
    @include backgroung-img(85%,fixed,0,0);
    block-size: 50rem;

    .p-welcome {
        color: white;
        padding-top: 20rem;
        font-size: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

}

.logo {
    opacity: 0.5;
    position: absolute;
    padding-left: 8rem;
    padding-top: 10rem;
    transition: all 2s;

    &:hover {
        opacity: 1;
        transform: scale(1.3);
    }
}
